<nav class="navbar  border-bottom">
    <div class="container-fluid">
      <li class="navbar-brand">
         QuotesApp
      </li>
    </div>
  </nav>


<div class="container">
    <div class="row">
        <div class="col-lg-6 card">
            <h3 class="card-title">Quotes</h3>
            <div *ngFor="let quote of quotes; let i=index">
                <p>"{{quote.quote}}"</p>
                <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                <div d-flex>
                    <i class="fas fa-thumbs-up" (click)="upvote(i)">
                        <p> Upvotes:{{quote.upvotes}} </p>
                    </i>
                    <i class="fas fa-thumbs-down" (click)="downvote(i)">
                        <p> Downvotes:{{quote.downvotes}} </p>
                    </i>
                </div>
                <hr>

            </div>
        </div>
        <div class="col-lg-6">
            <app-form-quote (addQuote)="addNewQuote($event)"></app-form-quote>
        </div>

        
    </div>
    <div class="container footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          
            </a>
            <span class="text-muted">All Rights Reserved copyright &copy; 2021 QuotesApp</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-instagram "></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"></a><i class="fab fa-twitter "></i></li>
            <li class="ms-3"><a class="text-muted" href="#"></a><i class="fab fa-facebook-f"></i></li>
          </ul>
        </footer>
      </div>
